configMapGenerator:
- name: operator.kyma-project.io
  namespace: kube-public
  files:
  - general
  - form
  - list
  - details
  options:
    disableNameSuffixHash: true
    labels:
      app.kubernetes.io/component: configmap
      app.kubernetes.io/instance: dockerregistry-operator-configmap
      app.kubernetes.io/name: dockerregistry-operator
      busola.io/extension: resource
      busola.io/extension-version: "0.5"