module-name: docker-registry
rc-tag: 0.2.0
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/dockerregistry-operator:0.6.2
  - europe-docker.pkg.dev/kyma-project/prod/external/library/registry:2.8.3-v1
  - europe-docker.pkg.dev/kyma-project/prod/registry-init:v20240506-57d31b1d
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
