module-name: docker-registry
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/external/library/registry:3.0.0
  - europe-docker.pkg.dev/kyma-project/prod/registry-init:v20240506-57d31b1d
  - europe-docker.pkg.dev/kyma-project/prod/dockerregistry-operator:0.9.0
mend:
  language: golang-mod
  exclude:
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/test/**"
    - "**/*_test.go"
