# This allows registry API port
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kyma-project.io--dockerregistry-allow-registry-api
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tplValue" ( dict "value" .Values.commonLabels "context" . ) | nindent 4 }}
    app.kubernetes.io/instance: dockerregistry-allow-to-apiserver-policy
    purpose: allow-registry-api
spec:
  podSelector:
    matchLabels:
      app: {{ template "docker-registry.name" . }}
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - port: 5000
          protocol: TCP
---
# This allows scraping metrics from registry
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kyma-project.io--dockerregistry-allow-metrics-policy
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tplValue" ( dict "value" .Values.commonLabels "context" . ) | nindent 4 }}
    app.kubernetes.io/instance: dockerregistry-allow-metrics
    purpose: metrics
spec:
  podSelector:
    matchLabels:
      app: {{ template "docker-registry.name" . }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/instance: rma
        - podSelector:
            matchLabels:
              networking.kyma-project.io/metrics-scraping: allowed
      ports:
        - protocol: TCP
          port: 5001
---
# This allows docker-registry to resolve k8s internal DNS queries
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kyma-project.io--dockerregistry-allow-to-dns
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tplValue" ( dict "value" .Values.commonLabels "context" . ) | nindent 4 }}
    app.kubernetes.io/instance: dockerregistry-allow-to-dns-policy
    purpose: dns
spec:
  podSelector:
    matchLabels:
      app: {{ template "docker-registry.name" . }}
  policyTypes:
    - Egress
  egress:
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
      to:
        - ipBlock:
            cidr: 0.0.0.0/0
    - ports:
        - port: 8053
          protocol: UDP
        - port: 8053
          protocol: TCP
      to:
        - namespaceSelector:
            matchLabels:
              gardener.cloud/purpose: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
      to:
        - namespaceSelector:
            matchLabels:
              gardener.cloud/purpose: kube-system
          podSelector:
            matchLabels:
              k8s-app: node-local-dns
---
# NetworkPolicy to allow whole egress traffic
# this is needed to allow to communicate with any storage backend
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kyma-project.io--dockerregistry-allow-to-all
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tplValue" ( dict "value" .Values.commonLabels "context" . ) | nindent 4 }}
    app.kubernetes.io/instance: dockerregistry-allow-to-all-policy
    purpose: external-storage
spec:
  podSelector:
    matchLabels:
      app: {{ template "docker-registry.name" . }}
  policyTypes:
    - Egress
  egress:
    - {}
