configMapGenerator:
- name: operator.cli
  namespace: kube-public
  files:
  - rootCommand
  - coreCommands # backward compatibility
  - actionCommands
  options:
    disableNameSuffixHash: true
    labels:
      app.kubernetes.io/component: configmap
      app.kubernetes.io/instance: dockerregistry-operator-configmap
      app.kubernetes.io/name: dockerregistry-operator
      kyma-cli/extension: resource
