name: integration tests

on:
  workflow_call:
    inputs:
      image:
        description: 'The image to test'
        required: true
        type: string
      trigger_btp:
        description: 'Trigger BTP integration test'
        required: false
        type: boolean
        default: false


jobs:
  operator-integration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: ./.github/actions/setup-go
      - uses: ./.github/actions/create-k3d-cluster
      - name: run test
        run: |
          make -C components/operator deploy
          make -C tests/operator test
        env:
          IMG: ${{ inputs.image }}
      - if: ${{ always() }}
        uses: ./.github/actions/collect-cluster-info

  btp-integration-tests:
    if: ${{ inputs.trigger_btp }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-kyma
        with:
          path: "/usr/local/bin"
      - name: compute github commit sha
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - uses: kyma-project/terraform-module/.github/actions/create-sap-btp-kyma@d1af98a8816f11d994f9d2f2cff4bf2338f9444f
        id: create-btp-resources
        with:
          btp_subaccount_name: dockerregistry-test-${{ steps.vars.outputs.sha_short }}-${{ github.run_attempt }}
          btp_backend_url: '${{ secrets.BTP_BACKEND_URL}}'
          btp_user: '${{ secrets.BTP_BOT_USER}}'
          btp_password: '${{ secrets.BTP_BOT_PASSWORD}}'
          btp_global_account: '${{ secrets.BTP_GLOBAL_ACCOUNT }}'
          btp_idp_tenant: '${{ secrets.BTP_CUSTOM_IAS_TENANT }}'
          btp_subaccount_region: '${{ secrets.BTP_SUBACCOUNT_REGION }}'
          btp_kyma_region: '${{ secrets.BTP_KYMA_REGION }}'
          btp_kyma_plan: '${{ secrets.BTP_KYMA_PLAN }}'

      - name: install exposed docker registry with remote btp object store backend
        run: |
          echo '${{ secrets.BTP_REMOTE_SERVICE_MANAGER_BINDING }}' > tests/btp/sm.env
          KUBECONFIG=$KUBECONFIG make -C tests/btp ensure-btp-object-store-backend
          make -C components/operator render-manifest
          KUBECONFIG=$KUBECONFIG OPERATOR_MANIFEST=../../dockerregistry-operator.yaml make -C tests/btp enable_docker_registry
      
      - name: Test
        shell: bash
        run: |
          KUBECONFIG=$KUBECONFIG make -C tests/btp test

      - uses: kyma-project/terraform-module/.github/actions/force-delete-sap-btp-subaccount@d1af98a8816f11d994f9d2f2cff4bf2338f9444f
        if: always()
        with:
          btp_subaccount_id: ${{ steps.create-btp-resources.outputs.subaccount_id }}
          btp_backend_url: ${{ secrets.BTP_BACKEND_URL}}
          btp_user: ${{ secrets.BTP_BOT_USER}}
          btp_password: ${{ secrets.BTP_BOT_PASSWORD}}
          btp_global_account: ${{ secrets.BTP_GLOBAL_ACCOUNT }}
          btp_idp_tenant: ${{ secrets.BTP_CUSTOM_IAS_TENANT }}
