name: upgrade tests

on:
  workflow_call:

jobs:
  operator-upgrade-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: upgrade test
        run: |
          make -C components/operator deploy-release
          make -C tests/operator test
          make -C components/operator deploy
          make -C tests/operator test
        env:
          IMG: europe-docker.pkg.dev/kyma-project/prod/dockerregistry-operator:${{ github.sha }}
      - if: ${{ always() }}
        uses: ./.github/actions/collect-cluster-info
