name: push

on:
  push:
    branches: [ "main", "release-*" ]

jobs:
  builds:
    uses: ./.github/workflows/_build-push.yaml

  integrations:
    needs: builds
    uses: ./.github/workflows/_integration-tests-push.yaml
    with:
      image: europe-docker.pkg.dev/kyma-project/prod/serverless-operator:${{ github.sha }}

  upgrades:
    needs: builds
    uses: ./.github/workflows/_upgrade-tests.yaml
